/* navadmin.css */
.vertical {
  top: 0;
  left: 0;
  height: 100%;
  width: 200px; /* Ajustez la largeur selon vos besoins */
  background-color: #f4f4f4; /* Couleur de fond de la barre de navigation */
}

.navAdmin {
  display: flex;
  flex-direction: column;
  padding-top: 20px; /* Espace en haut de la barre de navigation */
}

.navAdmin ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navAdmin li {
  margin: 10px 0; /* Espace entre les éléments de la liste */
}

.navAdminLink {
  text-decoration: none;
  color: #333; /* Couleur du texte des liens */
  font-size: 16px;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navAdminLink:hover {
  background-color: #ddd; /* Couleur de fond au survol */
  color: #000; /* Couleur du texte au survol */
}
