/* Styles de base pour la page 404 */
.error-msg {
  text-align: center;
  color: red;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

/* Styles pour la porte */
.door {
  position: relative;
  width: 300px;
  height: 500px;
  perspective: 1500px; /* Perspective pour effet 3D */
}

.door-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  animation: closeDoor 4s forwards; /* Animation pour fermer la porte */
}

.door-left,
.door-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: solid 1px black;
  background-color: #0213af; /* Couleur de la porte */
  transform-origin: left;
}

.door-left {
  left: 0;
  transform: rotateY(0deg);
}

.door-right {
  right: 0;
  transform: rotateY(0deg);
}

.door-handle-left,
.door-handle-right {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  background-color: #a3ae00; /* Couleur de la poignée */
  border-radius: 50%;
  z-index: 10;
}

.door-handle-left {
  left: calc(40% - 10px);
}

.door-handle-right {
  right: calc(40% - 10px);
}

/* Animation pour fermer la porte */
@keyframes closeDoor {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
